#title {
    margin: auto;
    width: 25%;
    text-align: center;
}

#buttons {
    height: 48px;
    width: 275px;
    margin: auto;
    padding: 1px;
}

.button {
    background-color: #38adf1;
    border: none;
    color: white;
    padding: 5px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 49%;
}

#container {
    padding: 1px;
    margin: auto;
    height: 720px;
    width: 720px;
    display: grid;
    background-color: rgb(5, 5, 5);
  }
  
.square {
    float: left;
    height: 45px;
    width: 45px;
    margin: 0px;
    background-color: white;
}